# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Project specific
data/*.csv
!data/api_us-west_20240101.csv 